*, body, html {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: #fff;
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
    background: #689CD2;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.header__section {
    display: flex;
    align-items: center;
}

.header__item, .searchInput {
    padding: 10px 15px;
    font-size: 14px;
    margin-left: 5px;
}

.header__item:hover {
    background: #ff9900;
    border-radius: 4px;
}

.headerLogo {
    font-weight: 900;
}

.headerButton {
    cursor: pointer;
}

.page-title {
    padding: 2%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.container {
    width: 100%;
}

.count-orders {
    color: #c9c9c9;
}

.cards {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.cards td, .cards th {
    border: 1px solid #ddd;
    padding: 8px;
}

.title {
    font-size: 21px;
}

.buyer {
    font-weight: 100;
}

.price {
    font-weight: 900;
}

.edit_block, .info_block {
    margin-top: 5px;
}

.btn_group {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-top: 2%;
}

.statuses {
    padding: 5px;
}

.accept_btn {
    padding: 5px;
    background: #689CD2;
    border: 0;
    color: #fff;
    margin-left: 5px;
}


@media screen and (max-width: 978px) {
    .card_item {
        display: flex;
        width: 100%;
        flex-direction: column;
        padding: 5%;
        border: 1px solid;
        border-radius: 5px;
        margin: 5px;
    }
}